<%= simple_form_for(@pin, html: {class: 'form-horizontal', multipart: true}) do |f| %>
  <%= f.input :image %>
  <%#= f.input :url %>
  <%= f.input :description, input_html: {rows: 4} %>
  <%= f.association :board %>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', pins_path %>
  </div>
<% end %>