<%= content_tag_for :div, pin, class: 'mason col span3' do %>
  <%= link_to pin do %>
    <%= image_tag pin.image.url(:default) %>
    <p class="description"><%= pin.description %></p>
  <% end %>

  <div class="attribution clearfix">
    <%= image_tag pin.user_image_url, class: 'pull-left' %>
    <%= link_to pin.user_name, pin.user %> onto <%= link_to pin.board_name, pin.board %>
  </div>

  <section class="comments clearfox">
    <%= render pin.comments %>
  </section>

  <% if i_own?(pin) %>
    <%= link_to 'Edit', edit_pin_path(pin), class: 'edit btn btn-mini' %>
    <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete btn btn-mini' %>
  <% end %>
<% end %>
