<% if user_signed_in? %>
  <% @pins.each do |pin| %>
    <%= content_tag_for :div, pin, class: 'span3' do %>
      <%= image_tag pin.image.url(:default) %>
      <%= pin.description %>
      <%= pin.board_name %>
      <%= link_to 'Edit', edit_pin_path(pin), class: 'edit btn btn-mini' %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete btn btn-mini' %>
    <% end %>
  <% end %>
<% else %>
  <div class="signup hero-unit well">
    <h2>Sign in with...</h2>
    <%= link_to user_omniauth_authorize_path(:twitter), class: 'big-button twitter' do %>
      <span class="logo"></span> Twitter
    <% end %>
  </div>
<% end %>