<%= simple_form_for(@board, html: {class: 'form-horizontal'}) do |f| %>

  <%= f.input :name, input_html: {class: 'input-xlarge'} %>
  <%= f.input :description, input_html: {class: 'input-xxlarge', rows: 10} %>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path %>
  </div>
<% end %>
