<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hackeryou :: Hackboard</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Hackboard", root_path, class: 'brand' %>

        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="dropdown divider-vertical">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-plus"></i>Add...
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "A Pin", new_pin_path %></li>
                <li><%= link_to "A Board", new_board_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a class="dropdown-toggle user-image" data-toggle="dropdown" href="#"><%= image_tag current_user.image_url %></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "Profile", user_path(current_user) %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= render "/shared/messages" unless flash.empty? %>
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>